* {
    box-sizing: border-box;
  }
  
  body {
    
  }
  ul {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
    gap: 24px;
    user-select: none;
    list-style: none;
  }
  
  .gallery-item {
    list-style: none;
      
     }
  
  .gallery-image {
    width: 360px;
height: 200px;
  }
    
  .modal {
    width: 1112px;
        user-select: none;
    
  }
  
  .modal img {
    max-width: 1112px;
    height: 640px;
     }
  
  